$content-bg: url(../../../images/brand_assets/brand-book-bg.svg) no-repeat fixed 100px 50px;
$brand-book-container-bg: url(../../../images/brand_assets/brand-book-design-right.png) #fff no-repeat right top;
$logo-download-box-font-size: 14px;
$font-example-p-font-size: 18px;
