// variables

$btn-bg-color: $primary-blue;
$btn-color: $body-text;
$btn-font-size: 14px;

a.btn,
.btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border: 1px solid transparent;
  border-radius: 30px;
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $font-weight-roboto-bold;
  line-height: 1.5;
  padding: 8px 25px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  &-primary {
    background-color: $primary-blue;
    color: $btn-color;
  }
}

