header {
  align-items: center;
  background: $white;
  border-bottom: 1px solid $gray-100;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;

  .brand {
    box-sizing: border-box;
    padding: 16px 16px 16px 32px;
    width: 250px;

    .logo {
      margin-right: $m;
      vertical-align: top;
      width: 55px;
    }

    .brand-text {
      color: $body-text;
      font-weight: $font-weight-roboto-bold;
    }
  }

  nav {
    margin-left: 24px;

    a,
    a:visited {
      color: $body-text;
      margin: 0 8px;
      padding: 13px 8px;
      text-decoration: none;
    }

    .active {
      border-bottom: 5px solid $link-active-color;
    }
  }
}

@media screen and (max-width: 770px) {
  header {
    display: block;

    .brand {
      border-bottom: 1px solid $gray-100;
      width: 100%;
    }

    nav {
      background-color: $white;
      display: flex;
    }
  }
}
